.aside
    br
    a(href='/catalog') Home 
    br
    a(href='/catalog/books') All books
    br
    a(href='/catalog/authors') All authors
    br
    a(href='/catalog/genres') All genres
    br
    a(href='/catalog/bookinstance') All book-instances
    p
    p
    a(href='/catalog/author/create') Create new author
    br
    a(href='/catalog/genre/create') Create new genre
    br
    a(href='/catalog/book/create') Create new book
    br
    a(href='/catalog/bookinstance/create') Instance (copy)  
        
        